---
name: CI/CD Job
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "eu-central-1"
      - name: Clone repository
        run: git clone https://github.com/twbs/bootstrap.git   
        
      - name: Install Ruby, RubyGems, and Jekyll
        run: |
          sudo apt update
          sudo apt install ruby-full
          ruby --version
          sudo apt install rubygems -y
          sudo apt-get install ruby-full build-essential zlib1g-dev
          sudo echo '# Install Ruby Gems to ~/gems' >> ~/.bashrc
          sudo echo 'export GEM_HOME="$HOME/gems"' >> ~/.bashrc
          sudo echo 'export PATH="$HOME/gems/bin:$PATH"' >> ~/.bashrc
          sudo -s
          sudo source ~/.bashrc
          exit
    
      - name: Build Jekyll
        run: |
          cd bootstrap
          bundle install
          bundle exec jekyll build
      - name: Create folder
        run: |
          jekyll build
          mkdir _gh_pages
          echo "Job: ${{ job.name }} Build: ${{ env.BUILD_NUMBER }}" > _gh_pages/version.txt
          
      - name: Sync files with S3
        run: aws s3 sync . s3://github-action-demo-007


