---
name: CI/CD Job
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          
      - name: Clone repository
        run: git clone https://github.com/twbs/bootstrap.git
        
      - name: Set up Ruby
        uses: actions/setup-ruby@v2
        with:
          ruby-version: 2.7

      - name: Install Jekyll and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ruby-dev zlib1g-dev
          gem install jekyll bundler

      - name: Build Jekyll site
        run: bundle exec jekyll build
          
      - name: Run Build and Create folder
        run: |
          mkdir _gh_pages
          echo "Job: ${{ job.name }} Build: ${{ env.BUILD_NUMBER }}" > _gh_pages/version.txt
      - name: Sync files with S3
        run: aws s3 sync . s3://github-action-demo-007
